/module6/nbproject/private/
/module6/build/
/module6/dist/
/charinput/build/
/charinput/nbproject/private/
/binaryio/build/
/binaryio/nbproject/private/
/SecureSocket/nbproject/private/
/echoserverclient/nbproject/private/
/geturl/build/
/geturl/nbproject/private/
/geturl/dist/
/echoserver/build/
/echoserver/dist/
/echoserver/nbproject/private/
/module7/nbproject/private/
/module7/build/
/MyFormServlet/build/
/MyFormServlet/nbproject/private/
/SimpleFormHeaders/build/
/SimpleFormHeaders/nbproject/private/
/SimpleFormHeaders/dist/
/kim_module7/nbproject/private/
/kim_module7/build/
/MyFormServlet/dist/
/kim_module7/dist/
/threadservlet1/build/
/threadservlet1/dist/
/threadservlet1/nbproject/private/
/threadservlet2/build/
/threadservlet2/nbproject/private/
/threadservlet2/dist/
/threadservlet3/build/
/threadservlet3/nbproject/private/
/threadservlet3/dist/
/module6 - Copy/build/
/module6 - Copy/dist/
/module6 - Copy/nbproject/private/
/module9/build/
/module9/dist/
/module9/nbproject/private/
/HelloWorldJSP/nbproject/private/
/HelloWorldJSP/build/
/DeclarationJSP/build/
/DeclarationJSP/nbproject/private/
/ImportJSP/build/
/ImportJSP/nbproject/private/
/BeanJSP2/build/
/BeanJSP2/nbproject/private/
/BeanScopeJSP/BeanScopeJSP/nbproject/private/
/MVC2/MVC2/nbproject/private/
/MVC2/MVC2/build/
/kim_module10/nbproject/private/
/kim_module10/build/
/kim_module10/dist/
/kim_module11/nbproject/private/
/kim_module11/build/
/kim_module11/dist/
/CalculatorWS/nbproject/private/
/CalculatorWS/build/
/CalculatorClient/nbproject/private/
/CalculatorClient/build/
/CalculatorClient/dist/
/Weather/nbproject/private/
/Weather/build/
/Weather_test/build/
/Weather_test/nbproject/private/
/Weather/Weather/build/
/Weather/Weather/nbproject/private/
/RateCalculatorWS/nbproject/private/
/RateCalculatorClient/nbproject/private/
/RateCalculatorWS/build/
/RateCalculatorWS/dist/
/RateCalculatorClient/build/